{{#if addNewAnswer}}
<div>
  <form>
    <div class="form-group">
      <label for="text">Text</label>
      {{input value=text id="text"}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>
    <button class = "btn btn-success" {{action 'saveAnswer'}}>Save</button>
    <br>
  </form>
</div>
{{else}}
<hr/>
<div class="container">
  <button class = "btn btn-primary"{{action 'answerFormShow'}}>Answer Question:</button>
</div>
{{/if}}
