{{#link-to 'question' question.id}}{{question.title}}?  By: {{question.author}} | {{moment-format question.date}}{{/link-to}}
{{#if question.picked}}
  <button class="btn btn-danger" {{action 'remove' question}}>Remove</button>
{{else}}
  <button class="btn btn-success" {{action 'addQuestion' question}}>Add to Favorites</button>
{{/if}}
