<h1>Welcome to the question page</h1>
Question: {{model.title}}?
<br>
Written by: {{model.author}}
<br>
Additional information: {{model.information}}

<button class="btn btn-danger"{{action 'deleteQuestion' model}}>Delete</button>

<hr />

{{update-question question=model updateQuestion="updateQuestion"}}

{{#if question.picked}}
<button class="btn btn-danger" {{action 'remove' question}}>Remove</button>
{{else}}
<button class="btn btn-success" {{action 'addQuestion' question}}>Add to Favorites</button>
{{/if}}

<hr/>
{{#each model.answers as |answer|}}
  The question above has been answered by {{answer.author}}. It is <strong>{{answer.text}}</strong>!
{{/each}}

{{new-answer saveAnswer="saveAnswer" question=model}}
