<h1>Welcome to the question page</h1>
{{model.title}}
{{model.author}}
{{model.information}}

<button class="btn btn-danger"{{action 'deleteQuestion' model}}>Delete</button>

<hr />

{{update-question question=model updateQuestion="updateQuestion"}}

<hr />

{{#each model.answers as |answer|}}
  {{answer.text}} by {{answer.author}}
{{/each}}

{{new-answer saveAnswer="saveAnswer"}}
