<h1>Welcome to the question page</h1>
{{model.title}}
{{model.author}}
{{model.information}}

<button {{action 'deleteQuestion' model}}>Delete</button>

<hr />

{{#each model.answers as |answer|}}
  <textarea>{{answer.text}} by {{answer.author}}</textarea>
{{/each}}

{{update-question question=question updateQuestion="updateQuestion"}}
