<h1>Welcome to the question page</h1>
Question: {{model.title}}?
<br>
Written by: {{model.author}}
<br>
Additional information: {{model.information}}
<br>
Category: {{model.category}}

<button class="btn btn-danger"{{action 'deleteQuestion' model}}>Delete</button>

<hr />

{{update-question question=model updateQuestion="updateQuestion"}}

<hr/>
{{#each model.answers as |answer|}}
  <li>The question above has been answered by {{answer.author}}. It is <strong>{{answer.text}}</strong>!</li>
{{/each}}

{{new-answer saveAnswer="saveAnswer" question=model}}
